.titleTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titlePR {
  border: 1px solid rgb(164, 164, 164);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.emptyTask {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  border: 1px solid rgb(164, 164, 164);
  border-radius: 20px;
}

.selectedTask {
  border: 1px solid rgb(164, 164, 164);
  border-radius: 20px;
  padding: 20px;
  position: relative;
}
