$primary-color: #6a6a6a;
$background-color: #f8f6ff;
$shadow-color: #dfdde8;
$highlight-color: #ffffff;

.progressRingContainer {
  text-align: center !important;

  .progressWrapper {
    position: relative !important;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 120px !important;
    height: 120px !important;
    border-radius: 50% !important;
    border: 4px solid #cdcdcd6c !important;
    background: linear-gradient(
      145deg,
      $highlight-color,
      $background-color
    ) !important;
    box-shadow: 5px 5px 10px $shadow-color, -5px -5px 10px $highlight-color !important;
  }

  .progressValue {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    .progressText {
      font-weight: 600 !important;
      font-family: "Poppins", sans-serif !important;
      color: $primary-color !important;
    }
  }

  .progressInfo {
    margin-top: 10px !important;
  }
}
