.roadmap {
  border: 1px solid rgb(164, 164, 164);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.roadmapType {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
}

.titleNameTopic {
  font-size: 26px !important;
  font-weight: 500;
}

.btnActions {
  display: flex;
  gap: 20px;
}

.btnVerified {
  font-size: 34px !important;
  display: block !important;
}

.titleActions {
  display: flex;
  align-items: center;
  gap: 8px;
}
