.roadmapType {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;
}

.titleNameTopic {
  font-size: 26px !important;
}

.btnActions {
  display: flex;
  gap: 20px;
}

.titleActionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnVerified {
  font-size: 34px !important;
  display: block !important;
}

.titleActions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.courseCard {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  transition: 0.2s !important;
  padding: 10px 20px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.105) !important;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.211) !important;
  }
}

.progressCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #947ef6;
  font-weight: bold;
  font-size: 20px;
  color: #eeeeee;
}

.headerCard {
  padding: 16px 24px !important;
  margin-bottom: 24px !important;
  background-color: #947ef6 !important;
  color: white !important;
  border-radius: 12px !important;

  h4 {
    margin-bottom: 8px !important;
  }
}

.topicIndexWrapper {
  display: flex !important;
  align-items: center !important;
  margin-bottom: 10px !important;
}

.topicIndexCircle {
  width: 34px;
  height: 34px;
  min-width: 34px;
  min-height: 34px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.08) !important;
  color: #5e5e5e !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin-right: 10px;
  margin-left: 1px;
}

.card {
  border-radius: 20px !important;
  cursor: pointer !important;
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
  width: 100% !important;
  transition: 0.2s !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.105) !important;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.211) !important;
  }
}
