.nothistory {
  border: 1px dotted rgb(162, 162, 162);
  padding: 40px 10px;
  border-radius: 20px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.card {
  border: 1px solid #e6e6e6 !important;
  border-radius: 20px !important;
  margin-bottom: 8px !important;
}
