.section {
  padding: 60px 20px;
  background: #f6f6f7;
  text-align: center;
  margin-top: 40px;
  overflow: hidden;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 50px;
}

.iconRows {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.mask {
  width: 80%;
  overflow: hidden;
  position: relative;
}

.row {
  display: flex;
  gap: 40px;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  width: max-content;
}

.row.left {
  animation-name: scrollLeft;
}

.row.right {
  animation-name: scrollRight;
}

.icon {
  font-size: 46px;
  color: #464646;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 40px;
  }

  .mask {
    width: 100vw;
    padding: 0;
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 36px;
  }

  .section {
    padding: 40px 20px;
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 24px;
  }

  .section {
    padding: 40px 20px;
    margin-top: 0px;
  }

  .icon {
    font-size: 36px;
  }
}
